<!DOCTYPE html>

<mat-toolbar style="display: flex; justify-content: space-between " class="navbar">
    <a (click)="toMovies()"><img src="assets/myflix-logo-black.png" alt="myflix logo" class="logo"></a>
    <div >
    <button mat-icon-button matTooltip="home" (click)="toMovies()"><mat-icon>home</mat-icon></button>
     <button mat-icon-button matTooltip="profile" (click)="toProfile()"><mat-icon>person</mat-icon></button>
     <button mat-icon-button matTooltip="logout" (click)="onLogout()"><mat-icon>logout</mat-icon></button>
    </div>
   </mat-toolbar>

