


.movies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #0b0b0a;
    
}

.movie-card {
  display: flex 1  auto;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
}

.movie-card-header {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: left;
}

h1{
    font-size: large;
    font-weight: 700;
}

.movie-card-img{
    width: 320px;
    max-height: 450px;
    
}

.movie-card-buttons {
    display: flex;
    flex-direction: column;
    
}
.button-more{
    display: block;
    font-size: medium;
    width: 320px;
    text-align: left;
    color: rgb(32, 32, 32);
}

.movie-card-content{
  padding: 10px;
  text-align: center;
}
.favorite-button{
    padding-left: 90%;
    
}

