<!DOCTYPE html>
<app-navbar style="position: fixed; z-index: 1000"></app-navbar>
<div style="height: 100px"></div>
<div class="movies-container">
  <mat-card *ngFor="let movie of movies; let i = index" class="movie-card">
    <mat-card-header class="movie-card-header">
      <mat-card-title style="font-size: large">{{
        movie.title
      }}</mat-card-title>
      <mat-card-subtitle>
        Directed by: {{ movie.director.name }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content class="movie-card-content">
      <img
        src="{{ movie.imagePath }}"
        alt="{{ movie.title }}"
        class="movie-card-img"
      />
      <mat-card-actions style="display: flex; flex-direction: column;">
        <div class="favorite-button">
          <button
          style="justify-content: end;"
            mat-button
            *ngIf="!isFavorite(movie._id)"
            (click)="addMovieToFav(movie._id)"
          >
            <mat-icon>favorite_border</mat-icon>
          </button>
          <button
            mat-button
            *ngIf="isFavorite(movie._id)"
            (click)="removeMovieFromFav(movie._id)"
          >
            <mat-icon style="color: red">favorite</mat-icon>
          </button>
        </div>
        <div class="movie-card-buttons">
          <button
            mat-button
            (click)="openMovieDescriptionDialog(movie.title, 
            movie.description)"
            class="button-more"
          >
            Synopsis
          </button>
          <div
            style="background-color: rgba(122, 120, 120, 0.635); height: 1px"
          ></div>
          <button
            mat-button
            (click)="openGenreDescriptionDialog(
                movie.genre.name,
                movie.genre.description)"
            class="button-more"
          >
            Genre: {{ movie.genre.name }}
          </button>
          <div style="background-color: rgba(122, 120, 120, 0.635); height: 1px"></div>
          <button
            mat-button
            (click)="openDirectorBioDialog(movie.director.name, movie.director.bio)"
            class="button-more"
          >
            Director
          </button>
        </div>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
