


.movies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #0b0b0a;
    
}

.movie-card {
  display: block;
  text-align: center;
  margin: 25px;
  max-width: 350px;
}
.movie-card-content{
    padding: 10px;
    text-align: center;
  }
.movie-card-header {
    display: block;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1{
    font-size: large;
    font-weight: 700;
}

.movie-card-img{
    width: 320px;
    max-height: 450px;
    
}

.movie-card-buttons {
    display: block;
    
}
.button-more{
    display: block;
    font-size: medium;
    width: 320px;
    text-align: left;
    color: rgb(62, 59, 59);
}


.favorite-button{
    padding-left: 80%;
    
}

