<app-navbar></app-navbar>
<div style="display: flex;" class="container">
    <mat-card *ngFor="let movie of movies; let i=index;" style="flex: 1 1 auto;">
        <mat-dialog-content>
            <mat-card-header>
                <mat-card-title>{{movie.title}}</mat-card-title>
                <mat-card-subtitle> Directed by: {{movie.director.name}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            <img src={{movie.imagePath}} alt={{movie.title}} />
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="openMovieDescriptionDialog(movie.description)">Synopsis</button>
                    <button mat-raised-button color="primary" (click)="openGenreDescriptionDialog(movie.genre.name, movie.genre.description)">Genre: {{movie.genre.name}}</button>
                    <button mat-raised-button color="primary" (click)="openDirectorBioDialog(movie.director.name, movie.director.bio)">Director</button>
                    

                    <mat-icon>favorite_border</mat-icon>
                </mat-card-actions>
            </mat-card-content>
        </mat-dialog-content>
    </mat-card>
</div>

