
img {
    position: relative;
    height: auto;
    width: 100%;
    background-size: cover;
}

.mat-mdc-card {
    position: relative;
    height: 600px;
    width: 600px;
    margin: 50px 10px;
    

}

.mat-mdc-card-header {
height:  4em;
width: auto;
}