$primary: rgb(88, 36, 36);
$body-bg: Oldlace;
$secondary: rgb(181, 155, 155);
$fontcolor:rgb(20, 20, 21);


#button-login{
    
    background-color:$primary;
    color: white;
    
    }
.mat-mdc-card {
    align-items: center;
    background-color: $body-bg;    
    padding: 15px;
    }
