$primary: #234163;
$logo-color:#cb861a;
$body-bg: Oldlace;
$secondary:  black;;
$fontcolor:white;

#button-signup{
    
    background-color:$primary;
    color: white;
    font-size: medium;
    }

    .mat-mdc-card {
        align-items: center;
        background-color: $body-bg;    
        padding: 20px;
        font-size: medium;
        }
