<!DOCTYPE html>
<mat-card class="change-card-container" style="display: flex;justify-content: center;">
  <mat-card-content >
    <h2>Do you want to change your information?</h2>
    <form >
      <mat-form-field 
        ><input
          matInput
          [(ngModel)]="updatedUser.username"
          placeholder="Username"
          type="text"
          name="username"
          required
      /></mat-form-field>
      <mat-form-field
        ><input
          matInput
          [(ngModel)]="updatedUser.email"
          placeholder="Email"
          type="email"
          name="email"
          required
      /></mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="updatedUser.password"
          type="password"
          placeholder="Password"
          name="password"
          required
      /></mat-form-field>
      <mat-form-field
        ><input
          matInput
          [(ngModel)]="updatedUser.birthday"
          placeholder="Birthday"
          type="date"
          name="birthday"
          
      /></mat-form-field>
      <mat-card-actions style="flex-direction: column;">
        <button
          mat-raised-button
          (click)="updateUserInfo()"
          class="button-change"
          color="primary"
        >
          Update 
        </button>
        <p>or do you want to delete your Account?</p>
        <button
        mat-raised-button
          (click)="deleteAccount()"
          class="button-change"
          color="primary"
        >
          Delete Account
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
