$primary: #234163;
$logo-color: #cb861a;
$body-bg: Oldlace;
$secondary: black;
$fontcolor: white;

.button-change {
  background-color: $primary;
  color: white;
  font-size: medium;
}

.change-card-container {
  background-color: $body-bg;
  font-size: medium;
  text-align: center;
}
