<app-navbar></app-navbar>
<div>
  <h1>Welcome {{ user.username }}</h1>
</div>
<div style="display: flex">
  <mat-card>
    <mat-card-content>
      <h2>User info</h2>
      <p>Username: {{ userData.username }}</p>
      <p>Email: {{ userData.email }}</p>
      <p>Birthday {{ userData.birthday }}</p>
    </mat-card-content>
  </mat-card>
</div>
<button mat-raised-button (click)="changeInfo()" color="primary">
  Change your Information?
</button>
<h1>Favorites Movies List</h1>
<div style="display: flex">
  <div style="display: flex">
    <mat-card *ngFor="let movie of favoritesMovies" class="image-container">
      <img matListItemAvatar src="{{ movie.imagePath }}" />
      <span matListItemTitle>{{ movie.title }}</span>
    </mat-card>
  </div>
</div>
