<!DOCTYPE html>
<app-navbar></app-navbar>
<div class="profile-container">
  <div style="justify-content: center; margin-top: 80px; ">
    <h1>Welcome to your profile : {{ user.username }} !</h1>
  </div>
  <div >
    <mat-card class="user-info">
      <mat-card-content >
        <h2>User info</h2>
        <p>Username: {{ userData.username }}</p>
        <p>Email: {{ userData.email }}</p>
        <p>Birthday {{ userData.birthday }}</p>
      </mat-card-content>
      <button mat-button (click)="changeInfo()" id="change-info-btn" >
        Do you want to change your Information?
      </button>
    </mat-card>

  </div>
  <div>
  <h2>Your Favorites Movies</h2>
  </div>
  <div class="favorite-container">
    <div *ngFor="let movie of favoritesMovies">
      <div style="margin-bottom: 60px;">
        <img mat-card-avatar src="{{ movie.imagePath }}" class="avatar" />
        <span mat-card-title>{{ movie.title }}</span> 
      </div>
    </div>
  </div>
</div>
